interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://api.fund.eastmoney.com/f10/JJGG?fundcode=000001&pageIndex=1&pageSize=30&type=0&callback=
  response:
    body:
      string: "{\"Data\":[{\"FUNDCODE\":\"000001\",\"TITLE\":\"2026\u5E74\u52B3\u52A8\u8282\u670D\u52A1\u63D0\u793A\",\"ShortTitle\":\"\u534E\u590F\u6210\u957F\u6DF7\u5408\",\"NEWCATEGORY\":\"6\",\"PUBLISHDATE\":\"2026-04-28T00:00:00\",\"PUBLISHDATEDesc\":\"2026-04-28\",\"ATTACHTYPE\":\"0\",\"ID\":\"AN202604281821664557\"},{\"FUNDCODE\":\"000001\",\"TITLE\":\"\u534E\u590F\u6210\u957F\u8BC1\u5238\u6295\u8D44\u57FA\u91D12026\u5E74\u7B2C1\u5B63\u5EA6\u62A5\u544A\",\"ShortTitle\":\"\u534E\u590F\u6210\u957F\u6DF7\u5408\",\"NEWCATEGORY\":\"3\",\"PUBLISHDATE\":\"2026-04-22T00:00:00\",\"PUBLISHDATEDesc\":\"2026-04-22\",\"ATTACHTYPE\":\"0\",\"ID\":\"AN202604221821426972\"},{\"FUNDCODE\":\"000001\",\"TITLE\":\"\u534E\u590F\u57FA\u91D1\u7BA1\u7406\u6709\u9650\u516C\u53F8\u65D7\u4E0B\u90E8\u5206\u57F[...]
[...]
