interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://fundf10.eastmoney.com/jbgk_000001.html
  response:
    body:
      string: "\r\n\r\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"
        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n
        \   <title>\u534E\u590F\u6210\u957F\u6DF7\u5408(000001)\u57FA\u91D1\u57FA\u672C\u6982\u51B5
        _ \u57FA\u91D1\u6863\u6848 _ \u5929\u5929\u57FA\u91D1\u7F51</title>\r\n    <meta
        name=\"keywords\" content=\"\u534E\u590F\u6210\u957F\u6DF7\u5408,000001,\u57FA\u91D1,\u57FA\u91D1\u6863\u6848,F10,\u57FA\u672C\u6982\u51B5,\u5929\u5929\u57FA\u91D1\u7F51,fund,1234567\"
        />\r\n    <meta name=\"description\" content=\"\u4E1C\u65B9\u8D22\u5BCC\u7F51(www.eastmoney.com)\u65D7\u4E0B\u57FA\u91D1\u5E73\u53F0\u2014\u2014\u5929\u5929\u57FA\u91D1\u7F51(fund.eastmoney.com)\u63D0\u4F9B\u534E\u590F\u6210\u957F\u6DF7\u5408(000001)\u6700\u65B0\u7684\u57FA\u91D1\u6863\u6848\u4FE1\u606F\uFF0C\u534E\u590F\u6210\u957F\u6DF7\u5408(000001)\u57FA\u91D1\u7684\u57FA\u672C\u6982\u51B5\u4FE1\u606F\u3002\"
        />\r\n    \r\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"
        />\r\n<meta http-equiv=\"Content-Language\" content=\"zh-CN\" />\r\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\r\n<meta http-equiv=\"Cache-Control\"
        content=\"no-cache\" />\r\n<link href=\"//j5.dfcfw.com/sc/css/f10/common_min1_20210709.css\"
        rel=\"stylesheet\" type=\"text/css\" />\r\n<link href=\"//j5.dfcfw.com/css/f10/ucbody_min_20200220153055.css\"
        rel=\"stylesheet\" type=\"text/css\" />\r\n<script src=\"//fund.eastmoney.com/js/fundcode_search.js\"
        type=\"text/javascript\"></script>\r\n<base target=\"_blank\" />\r\n\r\n    <style
        type=\"text/css\">\r\n        .div-tip {\r\n            background-color:
        #fff7eb;\r\n            border: 1px solid #f3d098;\r\n            font-size:
        12px;\r\n            left: 100px;\r\n            padding: 10px;\r\n            position:
        absolute;\r\n            top: 358px;\r\n            left: 52px;\r\n        }\r\n\r\n
        \       .global-poptip-arrow {\r\n            left: 20px;\r\n            top:
        25px;\r\n [...]
