interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://fundf10.eastmoney.com/FundArchivesDatas.aspx?type=jjcc&code=000001&topline=20&year=2024&month=3
  response:
    body:
      string: "var apidata={ content:\"<div class='box'><div class='boxitem w790'><h4
        class='t'><label class='left'><a title='\u534E\u590F\u6210\u957F\u6DF7\u5408'
        href='http://fund.eastmoney.com/000001.html'>\u534E\u590F\u6210\u957F\u6DF7\u5408</a>&nbsp;&nbsp;2024\u5E744\u5B63\u5EA6\u80A1\u7968\u6295\u8D44\u660E\u7EC6</label><label
        class='right lab2 xq505'>&nbsp;&nbsp;&nbsp;&nbsp;\u6765\u6E90\uFF1A\u5929\u5929\u57FA\u91D1&nbsp;&nbsp;&nbsp;&nbsp;\u622A\u6B62\u81F3\uFF1A<font
        class='px12'>2024-12-31</font></label></h4><div class='space0'></div><table
        class='w782 comm tzxq t2'><thead><tr><th class='first'>\u5E8F\u53F7</th><th>\u80A1\u7968\u4EE3\u7801</th><th>\u80A1\u7968\u540D\u79F0</th><th
        class='xglj'>\u76F8\u5173\u8D44\u8BAF</th><th>\u5360\u51C0\u503C<br />\u6BD4\u4F8B</th><th
        class='cgs'>\u6301\u80A1\u6570<br />\uFF08\u4E07\u80A1\uFF09</th><th class='last
        ccs'>\u6301\u4ED3\u5E02\u503C<br />\uFF08\u4E07\u5143\uFF09</th></tr></thead><tbody><tr><td>1</td><td><a
        href='//quote.eastmoney.com/unify/r/0.002025'>002025</a></td><td class='tol'><a
        href='//quote.eastmoney.com/unify/r/0.002025'>\u822A\u5929\u7535\u5668</a></td><td
        class='xglj'><a href='//guba.eastmoney.com/interface/GetList.aspx?code=0.002025'
        >\u80A1\u5427</a><a href='//quote.eastmoney.com/unify/r/0.002025' >\u884C\u60C5</a></td><td
        class='tor'>5.33%</td><td class='tor'>275.79</td><td class='tor'>13,392.49</td></tr><tr><td>2</td><td><a
      [...]
