interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://api.fund.eastmoney.com/f10/lsjz?fundCode=000001&pageIndex=1&pageSize=40&startDate=2024-01-01&endDate=2024-03-31&callback=
  response:
    body:
      string: "{\"Data\":{\"LSJZList\":[{\"FSRQ\":\"2024-03-29\",\"DWJZ\":\"0.7400\",\"LJJZ\":\"3.3030\",\"SDATE\":null,\"ACTUALSYI\":\"\",\"NAVTYPE\":\"1\",\"JZZZL\":\"0.14\",\"SGZT\":\"\u5F00\u653E\u7533\u8D2D\",\"SHZT\":\"\u5F00\u653E\u8D4E\u56DE\",\"FHFCZ\":\"\",\"FHFCBZ\":\"\",\"DTYPE\":null,\"FHSP\":\"\"},{\"FSRQ\":\"2024-03-28\",\"DWJZ\":\"0.7390\",\"LJJZ\":\"3.3020\",\"SDATE\":null,\"ACTUALSYI\":\"\",\"NAVTYPE\":\"1\",\"JZZZL\":\"1.09\",\"SGZT\":\"\u5F00\u653E\u7533\u8D2D\",\"SHZT\":\"\u5F00\u653E\u8D4E\u56DE\",\"FHFCZ\":\"\",\"FHFCBZ\":\"\",\"DTYPE\":null,\"FHSP\":\"\"},{\"FSRQ\":\"2024-03-27\",\"DWJZ\":\"0.7310\",\"LJJZ\":\"3.2940\",\"SDATE\":null,\"ACTUALSYI\":\"\",\"NAVTYPE\":\"1\",\"JZZZL\":\"-2.14\",\"SGZT\":\"\u5F00\u653E\u7533\u8D2D\",\"SHZT\":\"\u5F00\u653E\u8D4E\u56DE\",\"FHFCZ\[...]
[...]
