interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://api.fund.eastmoney.com/f10/lsjz?fundCode=000001&pageIndex=1&pageSize=40&startDate=2024-01-01&endDate=2024-01-31&callback=
  response:
    body:
      string: "{\"Data\":{\"LSJZList\":[{\"FSRQ\":\"2024-01-31\",\"DWJZ\":\"0.6760\",\"LJJZ\":\"3.2390\",\"SDATE\":null,\"ACTUALSYI\":\"\",\"NAVTYPE\":\"1\",\"JZZZL\":\"-1.74\",\"SGZT\":\"\u5F00\u653E\u7533\u8D2D\",\"SHZT\":\"\u5F00\u653E\u8D4E\u56DE\",\"FHFCZ\":\"\",\"FHFCBZ\":\"\",\"DTYPE\":null,\"FHSP\":\"\"},{\"FSRQ\":\"2024-01-30\",\"DWJZ\":\"0.6880\",\"LJJZ\":\"3.2510\",\"SDATE\":null,\"ACTUALSYI\":\"\",\"NAVTYPE\":\"1\",\"JZZZL\":\"-1.57\",\"SGZT\":\"\u5F00\u653E\u7533\u8D2D\",\"SHZT\":\"\u5F00\u653E\u8D4E\u56DE\",\"FHFCZ\":\"\",\"FHFCBZ\":\"\",\"DTYPE\":null,\"FHSP\":\"\"},{\"FSRQ\":\"2024-01-29\",\"DWJZ\":\"0.6990\",\"LJJZ\":\"3.2620\",\"SDATE\":null,\"ACTUALSYI\":\"\",\"NAVTYPE\":\"1\",\"JZZZL\":\"-1.55\",\"SGZT\":\"\u5F00\u653E\u7533\u8D2D\",\"SHZT\":\"\u5F00\u653E\u8D4E\u56DE\",\"FHFCZ[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://api.fund.eastmoney.com/f10/lsjz?fundCode=000001&pageIndex=2&pageSize=40&startDate=2024-01-01&endDate=2024-01-31&callback=
  response:
    body:
      string: "{\"Data\":{\"LSJZList\":[{\"FSRQ\":\"2024-01-03\",\"DWJZ\":\"0.7690\",\"LJJZ\":\"3.3320\",\"SDATE\":null,\"ACTUALSYI\":\"\",\"NAVTYPE\":\"1\",\"JZZZL\":\"-0.77\",\"SGZT\":\"\u5F00\u653E\u7533\u8D2D\",\"SHZT\":\"\u5F00\u653E\u8D4E\u56DE\",\"FHFCZ\":\"\",\"FHFCBZ\":\"\",\"DTYPE\":null,\"FHSP\":\"\"},{\"FSRQ\":\"2024-01-02\",\"DWJZ\":\"0.7750\",\"LJJZ\":\"3.3380\",\"SDATE\":null,\"ACTUALSYI\":\"\",\"NAVTYPE\":\"1\",\"JZZZL\":\"-0.77\",\"SGZT\":\"\u5F00\u653E\u7533\u8D2D\",\"SHZT\":\"\u5F00\u653E\u8D4E\u56DE\",\"FHFCZ\":\"\",\"FHFCBZ\":\"\",\"DTYPE\":null,\"FHSP\":\"\"}],\"FundType\":\"002\",\"SYType\":null,\"isNewType\":false,\"Feature\":\"215\"},\"ErrCode\":0,\"ErrMsg\":null,\"TotalCount\":22,\"Expansion\":null,\"PageSize\":20,\"PageIndex\":2}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13ff8934-bc19-474a-a658-9736c9c009fc"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://api.fund.eastmoney.com/f10/lsjz?fundCode=000001&pageIndex=2&pageSize=20&startDate=2024-01-01&endDate=2024-01-31&callback=
  response:
    body:
      string: "{\"Data\":{\"LSJZList\":[{\"FSRQ\":\"2024-01-03\",\"DWJZ\":\"0.7690\",\"LJJZ\":\"3.3320\",\"SDATE\":null,\"ACTUALSYI\":\"\",\"NAVTYPE\":\"1\",\"JZZZL\":\"-0.77\",\"SGZT\":\"\u5F00\u653E\u7533\u8D2D\",\"SHZT\":\"\u5F00\u653E\u8D4E\u56DE\",\"FHFCZ\":\"\",\"FHFCBZ\":\"\",\"DTYPE\":null,\"FHSP\":\"\"},{\"FSRQ\":\"2024-01-02\",\"DWJZ\":\"0.7750\",\"LJJZ\":\"3.3380\",\"SDATE\":null,\"ACTUALSYI\":\"\",\"NAVTYPE\":\"1\",\"JZZZL\":\"-0.77\",\"SGZT\":\"\u5F00\u653E\u7533\u8D2D\",\"SHZT\":\"\u5F00\u653E\u8D4E\u56DE\",\"FHFCZ\":\"\",\"FHFCBZ\":\"\",\"DTYPE\":null,\"FHSP\":\"\"}],\"FundType\":\"002\",\"SYType\":null,\"isNewType\":false,\"Feature\":\"215\"},\"ErrCode\":0,\"ErrMsg\":null,\"TotalCount\":22,\"Expansion\":null,\"PageSize\":20,\"PageIndex\":2}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aa6d9e41-73ae-464b-8640-167e9b94b0c6"'
    status:
      code: 200
      message: OK
version: 1
