interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://fundgz.1234567.com.cn/js/000001.js
  response:
    body:
      string: "jsonpgz({\"fundcode\":\"000001\",\"name\":\"\u534E\u590F\u6210\u957F\u6DF7\u5408\",\"jzrq\":\"2026-05-12\",\"dwjz\":\"1.2420\",\"gsz\":\"1.2610\",\"gszzl\":\"1.53\",\"gztime\":\"2026-05-13
        13:40\"});"
    headers:
      Content-Type:
      - application/javascript; charset=UTF-8,gbk
      Etag:
      - '"d54e189be2dc1:0"'
      Last-Modified:
      - Wed, 13 May 2026 05:41:06 GMT
      X-Nws-Log-Uuid:
      - '13968138264438676020'
    status:
      code: 200
      message: OK
version: 1
